%devices {
	position: fixed;
	top: 50%;
	left: 50%;
	@include transform(translateY(-50%)translateX(-50%));
	box-shadow: 0 0 0 em(5) $color-tablet-border,0 0 0 em(10) $color-tablet-border-light,0 0 0 em(12) $color-tablet-border-medium,0 em(17) em(11) 0 $color-black;
	@include transition(width 0.15s linear,height 0.15s linear);
}

.beta {
	@extend %devices;
	$scaleReduction: 0.75;
	$base-border-width: 40;
	$alt-border-width: 80;	
	border-radius: em(30);
	border: em($base-border-width) solid $color-black;
	border-right: em($alt-border-width) solid $color-black;	
	@include centerDevice($betaH,$scaleReduction)

	.device__outer {
		width: em($betaW);
		height: em($betaH);
	}
}

.omicron {
	@extend %devices;
	$scaleReduction: 0.75;
	$base-border-width: 40;
	$alt-border-width: 80;
	border-radius: em(30);
	border: em(40) solid $color-black;
	border-bottom: em(70) solid $color-black;
	@include centerDevice($omicronH,$scaleReduction)

	.device__outer {
		width: em($omicronW);
		height: em($omicronH);
	}
}

.theta {
	@extend %devices;	
	border-radius: em(30);
	border: em(30) solid $color-black;
	border-right: em(60) solid $color-black;

	.device__outer {
		width: em($thetaW);
		height: em($thetaH);
	}
}

.zeta {
	@extend %devices;
	$localSize: 14;
	@include font-size($localSize);	
	border-radius: em(30,$localSize);
	border: em(30) solid $color-black;
	border-bottom: em(60,$localSize) solid $color-black;

	.device__outer {
		width: em($zetaW,$localSize);
		height: em($zetaH,$localSize);
	}
}